<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519180059555-93qaj1ui7bqv06nur01blkv1gd8fbbtk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519180059555-93qaj1ui7bqv06nur01blkv1gd8fbbtk</string>
	<key>API_KEY</key>
	<string>AIzaSyCzW6hk0jWVjaDTUigcLUlUPXcqTnkp3oM</string>
	<key>GCM_SENDER_ID</key>
	<string>519180059555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>h4scrumboard</string>
	<key>STORAGE_BUCKET</key>
	<string>h4scrumboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519180059555:ios:84f09320ea0f3fe8c01016</string>
</dict>
</plist>